<h1>Models</h1>

<ul>
	<li><%= link_to "Publications", publications_path %></li>
	<li><%= link_to "Talks", talks_path %></li>
	<li><%= link_to "Static Pages", static_pages_path %></li>
	<li><%= link_to "Categories", categories_path %></li>
	<li><%= link_to "Publication Types", pubtypes_path %></li>
	<li><%= link_to "Publication Link Types", publinktypes_path %></li>
	<li><%= link_to "Talk Link Types", talklinktypes_path %></li>
</ul>
