<h1>Listing talklinks</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Talklinktype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talklinks.each do |talklink| %>
  <tr>
    <td><%= talklink.url %></td>
    <td><%= talklink.talklinktype_id %></td>
    <td><%= link_to 'Show', talklink %></td>
    <td><%= link_to 'Edit', edit_talklink_path(talklink) %></td>
    <td><%= link_to 'Destroy', talklink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Talklink', new_talklink_path %>
