<div id="navbar">
<ul>
<li class="home"><%= link_to "Home", home_path %></li>
<li class="pubs"><%= link_to "Publications", bydate_publications_path %></li>
<li class="talks"><%= link_to "Talks", bydate_talks_path %></li>
<li class="courses"><%= link_to "Courses", courses_path %></li>
<li class="contact"><%= link_to "Contact", contact_path %></li>
</ul>
</div>

