<h1>Listing publinks</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Publinktype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publinks.each do |publink| %>
  <tr>
    <td><%= publink.url %></td>
    <td><%= publink.publinktype_id %></td>
    <td><%= link_to 'Show', publink %></td>
    <td><%= link_to 'Edit', edit_publink_path(publink) %></td>
    <td><%= link_to 'Destroy', publink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publink', new_publink_path %>
