<h1>Listing pubtypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pubtypes.each do |pubtype| %>
  <tr>
    <td><%= pubtype.name %></td>
    <td><%= link_to 'Show', pubtype %></td>
    <td><%= link_to 'Edit', edit_pubtype_path(pubtype) %></td>
    <td><%= link_to 'Destroy', pubtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pubtype', new_pubtype_path %>
